{% extends "govuk/template.njk" %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{% from "common/heading/macro.njk" import appHeading %}

{% set mainClasses = "app-main-wrapper" %}

{% block headIcons %}
  <link rel="icon" href="{{ getAssetPath('assets/images/brand.ico') }}" type="image/x-icon">
  <link rel="apple-touch-icon" href="{{ getAssetPath('assets/images/brand.ico') }}">
{% endblock %}

{% block head %}
  <link href="{{ getAssetPath('stylesheets/application.scss') }}" rel="stylesheet">
  {% if metaDescription %}
    <meta name="description" content="{{ metaDescription }}">
  {% endif %}
{% endblock %}

{% block header %}
  <div class="govuk-header">
    <div class="govuk-header__container govuk-width-container">
      <div class="govuk-header__logo">
        <a href="https://www.gov.uk/government/organisations/department-for-environment-food-rural-affairs" class="govuk-header__homepage-link">
          <img src="{{ getAssetPath('assets/images/brand.png') }}" alt="Department for Environment, Food and Rural Affairs" class="govuk-header__logotype" height="30">
        </a>
      </div>
    </div>
  </div>

  {{ govukServiceNavigation({
    serviceName: serviceName,
    serviceUrl: serviceUrl
  }) }}

  <div class="govuk-width-container">
    {% include "common/phase-banner/phase-banner.njk" %}
  </div>
{% endblock %}

{% block pageTitle %}
    {% if pageTitle %}
    {{ pageTitle }} | {{ serviceName }}
  {% else %}
    {{ serviceName }}
  {% endif %}
{% endblock %}

{% block content %}{% endblock %}

{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: "/contact-help",
          text: "Contact us"
        },
        {
          href: "/cookies",
          text: "Cookies"
        },
        {
          href: "/accessibility-statement",
          text: "Accessibility statement"
        },
        {
          href: "https://www.gov.uk/government/organisations/rural-payments-agency/about/personal-information-charter",
          text: "Personal Information Charter",
          attributes: {
            target: "_blank",
            rel: "noopener noreferrer"
          }
        }
      ]
    }
  }) }}
{% endblock %}

{% block bodyEnd %}
  <script type="module" nonce="{{ nonce }}" src="{{ getAssetPath('application.js') }}"></script>
{% endblock %}
