{% extends 'common/layout.njk' %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "common/sub-header/macro.njk" import subHeader %}
{% from "common/navigation/back-sign-out-link.njk" import appBackSignOutLink %}

{% block beforeContent %}
  {{ subHeader(businessName=businessName, sbi=sbi, userName=userName) }}
  {{ appBackSignOutLink(backLink) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      {# Notification banner #}
      {% if notification %}
        {{ govukNotificationBanner({
          type: "success",
          titleText: notification.title,
          text: notification.text
        }) }}
      {% endif %}

    <h1 class="govuk-heading-l">
      View and update your business details
    </h1>

    <h2 class="govuk-heading-m">
      Business contact details
    </h2>

    {% set formattedAddress %}
      {% for addressLine in address %}
        <div>{{addressLine}}</div>
      {% endfor %}
    {% endset %}

    {% set formattedCph %}
      {% for cphNumber in countyParishHoldingNumbers %}
        <div> {{cphNumber}} </div>
      {% endfor %}
    {% endset %}

    {% set displayBusinessPhone %}
      <div>Telephone: <div class="govuk-hint display-inline">{{businessTelephone}}</div></div>
      <div>Mobile: <div class="govuk-hint display-inline">{{businessMobile}}</div></div>
    {% endset %}

    {% set vatDisplayValue = vatNumber or "No number added" %}

    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Business name"
          },
          value: {
            text: businessName
          },
          actions: {
            items: [
              {
                href: "/business-name-change",
                text: "Change",
                visuallyHiddenText: "business name"
              }
            ]
          }
        },
        {
          key: {
            text: "Business address"
          },
          value: {
            html: formattedAddress
          },
          actions: {
            items: [
              {
                href: "/business-address-enter",
                text: "Change",
                visuallyHiddenText: "business address"
              }
            ]
          }
        },
        {
          key: {
            text: "Business phone numbers"
          },
          value: {
            html: displayBusinessPhone
          },
          actions: {
            items: [
              {
                href: "/business-phone-numbers-change",
                text: "Change",
                visuallyHiddenText: "business phone numbers"
              }
            ]
          }
        },
        {
          key: {
            text: "Business email address"
          },
          value: {
            text: businessEmail
          },
          actions: {
            items: [
              {
                href: "/business-email-change",
                text: "Change",
                visuallyHiddenText: "business email address"
              }
            ]
          }
        }
      ]
    }) }}

    <h2 class="govuk-heading-m">
      Reference numbers
    </h2>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Single business identifier (SBI)
          </dt>
          <dd class="govuk-summary-list__value">
            {{ sbi }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            VAT registration number
          </dt>
          <dd class="govuk-summary-list__value">
            {{ vatDisplayValue }}
          </dd>
          <dd class="govuk-summary-list__actions">
            {# Logic to display the correct link actions for the VAT number #}
            {% if vatNumber %}
              <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item">
                  <a class="govuk-link" href="/business-vat-remove">
                    Remove<span class="govuk-visually-hidden"> VAT registration number</span>
                  </a>
                </li>
                <li class="govuk-summary-list__actions-list-item">
                  <a class="govuk-link" href="/business-vat-change">
                    Change<span class="govuk-visually-hidden"> VAT registration number</span>
                  </a>
                </li>
              </ul>
            {% else %}
              <a class="govuk-link" href="/business-vat-change">
                Add<span class="govuk-visually-hidden"> VAT registration number</span>
              </a>
            {% endif %}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Trader number
          </dt>
          <dd class="govuk-summary-list__value">
            {{ tradeNumber }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Vendor registration number
          </dt>
          <dd class="govuk-summary-list__value">
            {{ vendorRegistrationNumber }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            County Parish Holding (CPH) numbers
          </dt>
          <dd class="govuk-summary-list__value">
            {{ formattedCph | safe }}
          </dd>
        </div>
      </dl>

    <h2 class="govuk-heading-m">
      Additional details
    </h2>

    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Business legal status"
          },
          value: {
            text: businessLegalStatus
          },
          actions: {
            items: [
              {
                href: "/business-legal-status-change",
                text: "Change",
                visuallyHiddenText: "business legal status"
              }
            ]
          }
        },
        {
          key: {
            text: "Business type"
          },
          value: {
            text: businessType
          },
          actions: {
            items: [
              {
                href: "/business-type-change",
                text: "Change",
                visuallyHiddenText: "business type"
              }
            ]
          }
        }
      ]
    }) }}

  </div>
</div>
{% endblock %}
