{% extends 'common/layout.njk' %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "common/navigation/back-sign-out-link.njk" import appBackSignOutLink %}
{% from "common/sub-header/macro.njk" import subHeader %}

{% block beforeContent %}
  {{ subHeader(businessName=businessName, sbi=sbi, userName=userName) }}
  {{ appBackSignOutLink(backLink) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" novalidate>
        <input type="hidden" name="crumb" value="{{ crumb }}">
        <h1 class="govuk-heading-l">
          {{ pageTitle }}
        </h1>

        {% set formattedAddress %}
          {% for addressLine in address %}
            <div>{{addressLine}}</div>
          {% endfor %}
        {% endset %}

        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Business address"
              },
              value: {
                html: formattedAddress
              },
              actions: {
                items: [
                  {
                    href: changeLink,
                    text: "Change",
                    visuallyHiddenText: "business address"
                  }
                ]
              }
            }
          ]
        }) }}

        {{ govukButton({ text: "Submit", preventDoubleClick: true }) }}
      </form>
    </div>
  </div>
{% endblock %}
