{% extends 'common/layout.njk' %}

{% from "common/navigation/back-sign-out-link.njk" import appBackSignOutLink %}
{% from "common/sub-header/macro.njk" import subHeader %}

{% set pageTitle = "Change your business type" %}
{% set metaDescription = "Update the type of your business." %}

{% block beforeContent %}
  {{ subHeader(
    businessName=businessName,
    sbi=sbi,
    userName=userName
) }}

{{ appBackSignOutLink(backLink) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
      <p class="govuk-body">
        <span class="govuk-!-font-weight-bold">Business type</span><br>
        {{ businessType }}
      </p>
      <p class="govuk-body">If your business type is incorrect, contact the Rural Payments Agency to update it.</p>

      <h2 class="govuk-heading-m">Contact the Rural Payments Agency</h2>
      {% include 'common/contact/contact-us.njk' %}

      <p class="govuk-body govuk-!-margin-top-6">
        <a class="govuk-button" href="/business-details">Return to business details</a>
      </p>
    </div>
  </div>
{% endblock %}
