{% extends 'common/layout.njk' %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "common/navigation/back-sign-out-link.njk" import appBackSignOutLink %}
{% from "common/sub-header/macro.njk" import subHeader %}

{% block beforeContent %}
  {{ subHeader(businessName=businessName, sbi=sbi, userName=userName) }}
  {{ appBackSignOutLink(backLink) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="post" novalidate>
      <input type="hidden" name="crumb" value="{{ crumb }}">
      <div class="govuk-form-group">
        <h1 class="govuk-heading-l">
          {{ pageTitle }}
        </h1>

        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Business name"
              },
              value: {
                text: changeBusinessName
              },
              actions: {
                items: [
                  {
                    href: "/business-name-change",
                    text: "Change",
                    visuallyHiddenText: "business name"
                  }
                ]
              }
            }
          ]
        }) }}
      </div>

      {{ govukButton({
        text: "Submit",
        preventDoubleClick: true
      }) }}
    </form>
  </div>
</div>
{% endblock %}
