{% extends 'common/layout.njk' %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
  <div class="govuk-grid-row sub-header-container govuk-!-padding-top-3">
    <div class="govuk-grid-column-full govuk-!-text-align-right">
      <a href="/auth/sign-out" class="govuk-link">Sign out</a>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">{{ auth.name }}</span>
        You have signed in
      </h1>

      <h3 class="govuk-heading-m"> Business details</h3>
      <p>
        <a href="/business-details">View and update your business details</a>
      </p>
      <h3 class="govuk-heading-m"> Personal details</h3>
      <p>
        <a href="/personal-details">View and update your personal details</a>
      </p>

      <span class="govuk-caption-m">{{ auth.organisationId }}</span>
      <h2 class="govuk-heading-m">Your session details</h2>

      <dl class="govuk-summary-list">
        {% for key, value in auth %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">{{ key }}</dt>
            <dd class="govuk-summary-list__value">{{ value }}</dd>
          </div>
        {% endfor %}
      </dl>

    </div>
  </div>
{% endblock %}
