{% extends "common/layout.njk" %}

{% set pageTitle = "Page not found" %}
{% set metaDescription = "We could not find this page. Check the web address is correct and try again." %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Page not found</h1>
    <p class="govuk-body">
      If you typed the web address, check it is correct.
    </p>
    <p class="govuk-body">
      If you pasted the web address, check you copied the entire address.
    </p>
    <p class="govuk-body">
      If the web address is correct or you selected a link or button, <a href="/contact-help" class="govuk-link">contact Rural Payments</a> if you need to speak to someone about your land or farm business.
    </p>
  </div>
</div>
{% endblock %}
