{% extends "errors/layout.njk" %}

{% set pageTitle = "Sorry, there is a problem with the service" %}
{% set metaDescription = "There is a problem with this service, but you can contact us." %}

{% block error_content %}
<h1 class="govuk-heading-l">
  Sorry, there is a problem with the service
</h1>
<p class="govuk-body">
  Try again later.
</p>
{% endblock %}
