{% macro appBreadcrumbsSignOutLink(params = {}) %}
  <div class="sub-header-container govuk-!-padding-top-3 govuk-clearfix">

    {% if auth.isAuthenticated %}
      <div class="login-nav login-nav-aligned{% if params.loginNavClasses %} {{ params.loginNavClasses }}{% endif %}">
        <ul class="login-nav__list">
          <li class="login-nav__list-item">
            <a
              href="{{ params.signOutHref or '/auth/sign-out' }}"
              class="govuk-link login-nav__link govuk-link--no-visited-state login-nav-iahw__link"
            >
              {{ params.signOutText or 'Sign out' }}
            </a>
          </li>
        </ul>
      </div>
    {% endif %}

    {% if params.breadcrumbs and (params.breadcrumbs | length) %}
      <div class="govuk-breadcrumbs" style="display: inline-block">
        <ol class="govuk-breadcrumbs__list">
          {% for item in params.breadcrumbs %}
            <li class="govuk-breadcrumbs__list-item">
              {% if item.href %}
                <a class="govuk-breadcrumbs__link" href="{{ item.href }}">{{ item.text }}</a>
              {% else %}
                {{ item.text }}
              {% endif %}
            </li>
          {% endfor %}
        </ol>
      </div>
    {% endif %}
  </div>
{% endmacro %}
