{% extends 'common/layout.njk' %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "common/navigation/back-sign-out-link.njk" import appBackSignOutLink with context %}

{% block beforeContent %}
  {{ appBackSignOutLink() }}
{% endblock %}

{% block content %}
  {% if errors %}
    {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [{
            text: errors.crn.text,
            href: "#crn"
        }]
    }) }}
  {% endif %}

<div class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" novalidate>
        <input type="hidden" name="crumb" value="{{ crumb }}">
        {{ govukInput({
            label: {
              text: "Search by customer reference number (CRN)",
              classes: "govuk-label--l",
              isPageHeading: true
            },
            classes: "govuk-input--width-25",
            hint: {
              text: "Enter the full CRN"
            },
            id: "crn",
            name: "crn",
            value: crn,
            errorMessage: errors.crn and {
              text: errors.crn.text
            }
          }) }}

        <div class="govuk-button-group">
          {{ govukButton({ text: "Search", preventDoubleClick: true }) }}
          <a class="govuk-link" href="/change-search-criteria">Change search criteria</a>
        </div>

        {% if showClear %}
          <p class="govuk-body">
            <a class="govuk-link govuk-link--no-visited-state" href="/search-crn">Clear search</a>
          </p>
        {% endif %}

        {% if showResults %}
            <h2 class="govuk-heading-m">{{ resultText }}</h2>
            {% if showCustomerDetails %}
            <ol class="govuk-list internal-list__search">
              <li class="govuk-!-padding-top-6">
                <header class="govuk-!-padding-bottom-0">
                  <h3 class="govuk-heading-m govuk-!-margin-bottom-2">
                    <a class="govuk-link govuk-link--no-visited-state" href="/customer-overview/{{ crn }}">{{ customerName }}</a>
                  </h3>
                </header>
                <p class="govuk-body govuk-!-margin-bottom-2">CRN: {{ crn }}</p>
                <div>
                  <p class="govuk-body govuk-!-margin-bottom-0">{{ customerAddress }}</p>
                  <p class="govuk-body govuk-!-margin-bottom-2">{{ customerPostcode }}</p>
                </div>
              </li>
            </ol>
            {% endif %}
        {% endif %}
      </form>
    </div>
  </div>
</div>
{% endblock %}
